*{
	margin: 0;
	padding: 0;
}
#nav{
	float: right;
}
#nav ul {
	margin: 0;
	padding: 0;
}
#nav ul li {
	display: inline-block;
	list-style: none;
}
#nav ul li a {
    text-decoration: none;
    padding: 40px;
    display: block;
    font-size: 20px;
    color: #ffffff;
}
#nav ul li:first-child a {
	background: blue;
}
#nav ul li:nth-child(2) a {
	background: green;
}
#nav ul li:nth-child(3) a {
	background: black;
}
#nav ul li:last-child a {
	background: red;
}

#nav ul li a:hover{
	text-decoration: none;
}

#promo .fa-facebook{
    color: #ffffff;
    
    padding: 5px 15px;
}

#promo .fa-twitter{
    color: #ffffff;
    
    padding: 5px 15px;
}

#promo .fa-google-plus{
    color: #ffffff;
    
    padding: 5px 15px;
}

#promo .fa-instagram{
    color: #ffffff;
    
    padding: 5px 15px;
}

#advertising{
	background-color: #777;
    text-align: center;
    display: block;
    margin: 0 80px;
    
}
#advertising p{
    padding: 50px;
    font-size: 35px;
}

.socials{
	padding: 50px 0;	
}
main{
	padding-bottom: 100px;
	padding-top: 100px;
}


article h2.title{
	font-family: 'Bungee', cursive;
}

p.author {
	font-family: 'Risque', cursive;
}

p.body{
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
}

.postimage{
	max-width: 500px;
}

footer{
    background-color: #999;
    padding: 50px 0;
}